.form {
    margin: 0;
    padding: 10px 76px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    background-color: #eee;
}
.form__input {
    background-color: transparent;
    border-radius: 5px;
    font-size: 18px;
    line-height: 25px;
    padding: 0 0 0 10px;
    width: 65px;
}
.form_input:focus {
    background-color: white;
}
