.table {
    width: 100%;
    border-collapse: collapse;
}

.table td,
.table th {
    border: 1px solid gray;
    box-sizing: border-box;
}

.table td {
    padding: 5px;
}
.table td:nth-child(1),
.table td:nth-child(3),
.table td:nth-child(4),
.table td:nth-child(5) {
    text-align: right;
}

.table button {
    background-color: transparent;
    border: 0;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}
.table button:hover {
    background-color: gray;
    transition: background-color ease 0.8s;
}

.table button i[class^='icon'] {
    margin-left: 5px;
}

.table-row {
    position: relative;
}
.table-row--record:focus td {
    font-weight: bold;
}

.table-row--record:nth-child(4n + 1) td {
    background-color: #eee;
}

.table-row--collapsed {
    display: none;
}
.table-row--collapsed td {
    padding: 0;
    border: 0;
}
.table-row--collapsed td + tr td {
    border-top: 0;
}

.more-info-block {
    font-size: 12px;
    line-height: 1.5;
}
